.example-card {
    min-width: 100%;
    margin: 40px;

}
.cards {
    width: 400px;
}

.asd {
    width: 80%;
    margin: 0 auto; /* Added */
    margin: 10px !important;
    padding: 30px; 
    border: coral !important;
  }
  
.cardPadding {
    padding: 100px;
    margin-bottom: 50px;
}