  
 <h1>Component Communication in Angular</h1>

 
 <hr/>
    Select Location  : 
    <select [(ngModel)]="selectedLoc">
        <option *ngFor="let item of locations" [value]="item">{{ item }}</option>
    </select>

    <button type="submit" class="btn btn-danger btn-lg btn-block">
        Submit
      </button>
<hr/>
<app-dept-list  [loc]="selectedLoc"></app-dept-list>
<router-outlet></router-outlet>

<hr/>
    Select Job  : 
    <select [(ngModel)]="selectedJob">
        <option *ngFor="let item of jobs" [value]="item">{{ item }}</option>
    </select>
<hr/>
<app-employee-list [job]="selectedJob"></app-employee-list>
<router-outlet></router-outlet>